@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("./assets/Inter-VariableFont_slnt,wght.ttf");
}

html {
    background-color: #171717;
}
